<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bg.ittalents.olxlike">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".LogIn" />
        <activity android:name=".AddOffer" />
        <activity android:name=".ViewUser" />
        <activity android:name=".SendMessage" />
        <activity android:name=".MyMessages" />
        <activity android:name=".Settings" />
        <activity android:name=".EditEmail" />
        <activity android:name=".EditPassword" />
        <activity android:name=".EditPersonalInfo" />
        <activity android:name=".EditOffer" />
        <activity android:name=".ViewMessage" />
        <activity android:name=".Search" />
        <activity android:name=".Category" />
        <activity android:name=".SearchResult"></activity>
    </application>

</manifest>
