<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bg.ittalents.olxlike">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".LogIn"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".AddOffer"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".ViewUser"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".SendMessage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".MyMessages"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".Settings"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".EditEmail"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".EditPassword"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".EditPersonalInfo"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".EditOffer"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".ViewMessage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".Search"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".Category"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".OfferView"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".SearchResult"
            android:screenOrientation="sensorPortrait"/>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ImagesView" />
    </application>

</manifest>
